---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]發佈及分析測試結果嗎？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何 publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 08/16/2018
ms.locfileid: "41825709"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]發佈及分析測試結果嗎？
====================
藉由[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何將測試結果發行至 Team Foundation Server 專案資料庫，並將結果產生關聯的組建編號。 我們看到，結果會發佈之後我們可以使用報表管理員來檢視變更的圖形表示法中我們組建的測試結果。

[&#9654;觀看影片 （7 分鐘）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)
