---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[如何:]發佈和分析測試結果嗎？ | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System 可讓您的專案程式碼品質的圖表變更，隨著專案進展。 這段影片說明如何 publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="a9417-105">[如何:]發佈和分析測試結果嗎？</span><span class="sxs-lookup"><span data-stu-id="a9417-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="a9417-106">由[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="a9417-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="a9417-107">Visual Studio Team System 可讓您的專案程式碼品質的圖表變更，隨著專案進展。</span><span class="sxs-lookup"><span data-stu-id="a9417-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="a9417-108">這段影片說明如何將測試結果發行到 Team Foundation Server 專案的資料庫，並將結果與組建編號產生關聯。</span><span class="sxs-lookup"><span data-stu-id="a9417-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="a9417-109">我們會看到結果發行後可以使用報表管理員，在我們組建的測試結果檢視變更的圖形表示法。</span><span class="sxs-lookup"><span data-stu-id="a9417-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="a9417-110">&#9654;觀看影片 （7 分鐘）</span><span class="sxs-lookup"><span data-stu-id="a9417-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
<span data-ttu-id="a9417-111">[上一頁](how-do-i-use-generic-tests.md)
[下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="a9417-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
