---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]發佈及分析測試結果嗎？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何 publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379511"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]發佈及分析測試結果嗎？
====================
藉由[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何將測試結果發行至 Team Foundation Server 專案資料庫，並將結果產生關聯的組建編號。 我們看到，結果會發佈之後我們可以使用報表管理員來檢視變更的圖形表示法中我們組建的測試結果。

[&#9654;觀看影片 （7 分鐘）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)
