---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]發佈及分析測試結果嗎？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。 這段影片說明如何 publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833072"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="edd3f-105">[How Do i:]發佈及分析測試結果嗎？</span><span class="sxs-lookup"><span data-stu-id="edd3f-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="edd3f-106">藉由[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="edd3f-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="edd3f-107">Visual Studio Team System 可讓您在專案的程式碼品質的圖表變更隨著專案進展。</span><span class="sxs-lookup"><span data-stu-id="edd3f-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="edd3f-108">這段影片說明如何將測試結果發行至 Team Foundation Server 專案資料庫，並將結果產生關聯的組建編號。</span><span class="sxs-lookup"><span data-stu-id="edd3f-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="edd3f-109">我們看到，結果會發佈之後我們可以使用報表管理員來檢視變更的圖形表示法中我們組建的測試結果。</span><span class="sxs-lookup"><span data-stu-id="edd3f-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="edd3f-110">&#9654;觀看影片 （7 分鐘）</span><span class="sxs-lookup"><span data-stu-id="edd3f-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="edd3f-111">[上一頁](how-do-i-use-generic-tests.md)
> [下一頁](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="edd3f-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
